<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<header th:fragment="header">
		<!--<div id="name" th:text="'Имя пользователя: ' + ${name}" />
        <div id="main-menu">
            <div><a href="/main">Главная</a></div>
            <div><a href="/history">История</a></div>
            <div><a href="/logout">Выйдти</a></div>
        </div>-->

		<nav
			class="navbar navbar-expand-lg navbar-light shadow p-3 mb-5 rounded bg-light">


			<a class="navbar-brand" href="#"> <img src="/logo.svg" alt=""
				width="60">
			</a>

			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active fs-4 fw-bolder"
						aria-current="page" href="/main"
						th:text="#{message.header.menu.label.main}"></a></li>
					<li class="nav-item"><a class="nav-link active fs-4 fw-bolder"
						aria-current="page" href="/chart" th:text="CHART"></a></li>
					<li class="nav-item"><a class="nav-link active fs-4 fw-bolder"
						aria-current="page" href="/history"
						th:text="#{message.header.menu.label.history}"></a></li>
					<li class="nav-item"><a class="nav-link active fs-4 fw-bolder"
						aria-current="page" href="/logout"
						th:text="#{message.header.menu.label.logout}"></a></li>
				</ul>
		</nav>


	</header>
</body>
</html>