<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
<title>Document</title>
</head>

<body style="background-image: url(/ConverterAppBackground.svg); background-size: cover;">
	<header th:replace="header :: header"></header>

	<div class="container">
		<div class="row mt-5"></div>
		<div class="row mt-5"></div>
		<div class="row mt-5">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<form role="form" action="/main" method="POST">


					<div class="shadow p-3 mb-5 bg-white rounded">
						<div class="container-fluid">
							<div class="row">
								<h2 class="form-signin-heading">Конвертация</h2>
							</div>
							<div class="row mt-3">
								<div class="col-md-6 mx-auto d-grid gap-2">
									<select name="firstCurency" class="form-select form-select-sm">
										<option th:if="${ShowResult}" th:value="${fromNumCode}"
											th:text="${fromChar}"></option>
										<option th:if="${ShowResult}" disabled>_________</option>

										<option th:each="Valute : ${Valutes}"
											th:value="${Valute.getNumCode}"
											th:text="${Valute.getCharCode} + ' - ' + ${Valute.getName}"></option>
									</select>
								</div>
								<div class="col-md-6 mx-auto d-grid gap-2">
									<select name="secondCurency" class="form-select form-select-sm">
										<option th:if="${ShowResult}" th:value="${toNumCode}"
											th:text="${toChar}"></option>
										<option th:if="${ShowResult}" disabled>_________</option>
										<option th:each="Valute : ${Valutes}"
											th:value="${Valute.getNumCode}"
											th:text="${Valute.getCharCode} + ' - ' + ${Valute.getName}"></option>
									</select>
								</div>
							</div>
							<div class="row mt-3">
								<div class="col-md-6 mx-auto d-grid gap-2">
									<div th:if="${ShowResult}" class="ChangerCurency">
										<input name="number" class="ChangerCurencyInput form-control"
											type="text" th:value="${number}">
									</div>

									<div th:unless="${ShowResult}" class="ChangerCurency">
										<input name="number" class="ChangerCurencyInput form-control"
											type="text">
									</div>
								</div>
								<div class="col-md-6 mx-auto d-grid gap-2">
									<div th:if="${ShowResult}" class="ChangerCurency">
										<input class="ChangerCurencyInput form-control" type="text"
											th:value="${result}" readonly>
									</div>

									<div th:unless="${ShowResult}" class="ChangerCurency">
										<input class="ChangerCurencyInput form-control" type="text"
											value="0.0" readonly>
									</div>
								</div>
							</div>
							<div class="row mt-3">
								<div class="d-grid gap-2 col-6 mx-auto">
									<button class="btn btn-lg btn-primary " type="submit">Конвертировать</button>
								</div>
							</div>

						</div>
					</div>
				</form>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>

</body>

</html>