<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <header>

        <div id="name" th:text="'Имя пользователя: ' + ${name}" />
        <div id="main-menu">


            <div><a href="/main">Главная</a></div>
            <div><a href="/history">История</a></div>
            <div><a href="/logout">Выйдти</a></div>
        </div>
    </header>
    
    
    <div id="form">
    <form action="/main" method="post">
		<input name="date" th:value="${date}" hidden="true">
        <div class="Curency">

            <div class="ChangerCurency">
                <select name="firstCurency" class="ChangerCurencySelect">
                
                <option th:if="${ShowResult}" th:value="${fromChar}" th:text="${fromChar}"></option>
    			<option th:if="${ShowResult}" disabled>_________</option>
                
                <option value="RUB">RUB</option>
                	<option th:each="Valute : ${Valutes}" th:value="${Valute.getCharCode}" th:text="${Valute.getCharCode}"></option>
                </select>
                
            </div>
            <div class="ChangerCurency">
                <select name="secondCurency" class="ChangerCurencySelect">
                	
                	
                	<option th:if="${ShowResult}" th:value="${toChar}" th:text="${toChar}"></option>
    				<option th:if="${ShowResult}" disabled>_________</option>
                	<option value="RUB">RUB</option>
                	<option th:each="Valute : ${Valutes}" th:value="${Valute.getCharCode}" th:text="${Valute.getCharCode}"></option>
                </select>
            </div>
        </div>
        <div class="Curency">
            <div th:if="${ShowResult}" class="ChangerCurency">
				<input name="number" class="ChangerCurencyInput" type="text" th:value="${number}" >
			</div>
			
			 <div th:unless="${ShowResult}" class="ChangerCurency">
				<input name="number" class="ChangerCurencyInput" type="text">
			</div>
            
            <div th:if="${ShowResult}" class="ChangerCurency">
				<input class="ChangerCurencyInput" type="text" th:value="${result}" readonly>
			</div>
			
			 <div th:unless="${ShowResult}" class="ChangerCurency">
				<input class="ChangerCurencyInput" type="text" value="0.0" readonly>
			</div>
            

        </div>
        <div class="Curency">
            <button id="subbut" type="submit">Convert</button>
        </div>
    </form>
</div>
</body>



</html>